<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">FOR THE FUTURE. FOR KIDS ✊❤️🇺🇸</h2>
  

      <nav>
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/federal-removal/' | relative_url }}">Federal Removal</a>
        <a href="{{ '/royal-law-book/' | relative_url }}">Royal Law Book</a>
        <a href="{{ '/templates1/' | relative_url }}">Templates</a>
        <a href="{{ '/examples/' | relative_url }}">Examples</a>
        <a href="{{ '/resources/' | relative_url }}">Resources</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <div class="site-footer-credits">Find more at <a href="https://royallawx.blog">RoyalLawX Blog</a>.</div>
        <div class="site-footer-credits">Subscribe to <a href="https://www.youtube.com/@RoyalLawX">YouTube Channel</a>.</div>
        <div class="site-footer-credits">Contacts: <a href="mailto:RoyalLawX@pm.me">RoyalLawX@pm.me</a>.</div> 
      </footer>
    </main>
  </body>
</html>
